<section
    class="section-spacing"
    id="workflow-section"
>

    <div class="text-center mb-5">

        <!-- <span
            class="badge rounded-pill px-4 py-3"
            style="
                background:#eef1ff;
                color:#576A8F;
            "
        >

            Alur Sistem

        </span> -->

        <h2
            class="fw-bold mt-4"
            style="color:#576A8F;"
        >

            Bagaimana Sistem Bekerja?

        </h2>

        <p
            class="text-muted mt-3"
            style="
                max-width:700px;
                margin:auto;
            "
        >

            Sistem pakar melakukan identifikasi
            gaya belajar melalui proses konsultasi, 
            analisis hasil,
            dan rekomendasi pembelajaran.

        </p>

    </div>

    <div class="row g-4">

        <div class="col-lg-3 col-md-6">

            <div class="analytics-card text-center">

                <h1>📝</h1>

                <h5 class="fw-bold">

                    Isi Data

                </h5>

                <p class="text-muted mb-0">

                    Pengguna mengisi
                    identitas dasar.

                </p>

            </div>

        </div>

        <div class="col-lg-3 col-md-6">

            <div class="analytics-card text-center">

                <h1>❓</h1>

                <h5 class="fw-bold">

                    Jawab Quiz

                </h5>

                <p class="text-muted mb-0">

                    Menjawab
                    30 pertanyaan VAK.

                </p>

            </div>

        </div>

        <!-- <div class="col-lg-3 col-md-6">

            <div class="analytics-card text-center">

                <h1>🧠</h1>

                <h5 class="fw-bold">

                    Inferensi

                </h5>

                <p class="text-muted mb-0">

                    Backward Chaining
                    menentukan gaya belajar.

                </p>

            </div>

        </div> -->

        <div class="col-lg-3 col-md-6">

            <div class="analytics-card text-center">

                <h1>🎯</h1>

                <h5 class="fw-bold">

                    Rekomendasi

                </h5>

                <p class="text-muted mb-0">

                    Sistem memberikan
                    analisis dan saran belajar.

                </p>

            </div>

        </div>

    </div>

</section>